@media (max-width: 1199px) {
  .display-1 {
    font-size: 5.5rem;
  }
  .lead {
    font-size: 4.5rem;
  }
}
@media (max-width: 991px) {
  .display-1 {
    font-size: 5rem;
  }
  .lead {
    font-size: 4.0rem;
  }
}
@media (max-width: 767px) {
  height: 300px;
  .display-1 {
    font-size: 3.5rem;
  }
  .lead {
    font-size: 3rem;
  }
}